:root{
    --font-size-text: 1.562rem;
    --font-size-title: 2rem;
    --color: #000000;
    --border-radius: 0.312rem;
    --title-weight: 700;
    --border: 0.0625rem solid #000000;
    --line-height-form: 3rem;
}
body{
    font-family: "Inter", serif;
}
.container{
    max-width: 1130px;
    margin: 0 auto;
    padding: 0px 0.937rem;
    word-break: break-word;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.createPost-form{
    display: flex;
    flex-direction: column;
}
.info-text{
    font-size: var(--font-size-title);
    color: var(--color);
    line-height: var(--line-height-form);
    margin-block: 3.43rem;
}

.write__title{
    height: 60px;
    border-radius: var(--border-radius);
    border: var(--border);
    font-size: var(--font-size-title);
    line-height: var(--line-height-form);
    outline: none;
    padding: 20px;
}
.write__post{
    resize: none;
    height: 250px;
    border-radius: var(--border-radius);
    font-size: var(--font-size-title);
    border: var(--border);
    margin-block: 30px;
    line-height: var(--line-height-form);
    outline: none;
    padding: 1.25rem;
}

.createPost{
    background-color: #0094FF;
    height: 60px;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-title);
    line-height: var(--line-height-form);
    border-radius: var(--border-radius);
    color: #fff;
}
.createPost:active{
    opacity: 80%;
}

.render__title{
    white-space: normal;
}
.render__post{
    white-space: normal;
    margin-block: 1rem;
}
.post{
    margin-block: 2.5rem;
}
.post-text{
    opacity: 40%;
    font-size: var(--font-size-title);
}
.post-display{
    display: none;
}
.render__time{
    color: #0094FF;
    font-size: var(--font-size-text);
    line-height: 1.875rem;
}
.error{
    display: none;
    color: red;
}
@media (max-width: 768px){
    :root{
        --font-size-text: 1.562rem;
        --font-size-title: 1.5rem;
        --color: #000000;
        --border-radius: 0.200rem;
        --title-weight: 700;
        --border: 0.0625rem solid #000000;
        --line-height-form: 2rem;
    }
    .container{
        width: 100%;
        margin: 0 auto;
        padding: 0px 0.937rem;
    }
    .info-text{
        width: 100%;
        margin-bottom: 3.43rem;
    }
    .createPost-form, .wrapper__renderBox{
        width: 100%;
    }
    
    .write__title{
        height: 40px;
        padding: 15px;
    }
    .write__post{
        resize: none;
        height: 180px;
        margin-block: 30px;
        padding: 1.25rem;
    }
    .createPost{
        height: 40px;
    }
    .render__title{
        font-size: var(--font-size-title);
        margin-bottom: 1rem;
    }
    .render__post{
        font-size: var(--font-size-text);
    }
    .post{
        width: 100%;
        margin-block: 1.5rem;
    }
    .post-text{
        opacity: 40%;
        font-size: var(--font-size-title);
    }
    .post-display{
        display: none;
    }
    .render__time{
        color: #0094FF;
        font-size: var(--font-size-text);
        line-height: 1rem;
    }
    .wrapper__renderBox{
        width: 100%;
    }
}

@media (max-width: 600px){
    :root{
        --font-size-text: 1rem;
        --font-size-title: 1rem;
        --color: #000000;
        --border-radius: 0.200rem;
        --title-weight: 700;
        --border: 0.0625rem solid #000000;
        --line-height-form: 1rem;
    }
    .container{
        max-width: 570px;
        margin: 0 auto;
        padding: 0px 0.937rem;
    }
    .info-text{
        width: 100%;
        margin-bottom: 2.3rem;
    }
    .write__title{
        height: 30px;
    }
    .write__post{
        height: 130px;
        margin-block: 15px;
        padding: 1rem;
    }
    .render__title{
        font-size: var(--font-size-title);
        margin-bottom: 1rem;

    }
    .render__post{
        font-size: var(--font-size-text);
    }
}